@using MvcOnlineCommercialAutomation.Models.Classes
@model List<Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-striped" style="margin-top:20px">
    <tr>
        <th style="text-align:center">ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>Department</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td style="text-align: center; vertical-align: middle">@x.EmployeeID</td>
            <td style="vertical-align:middle">@x.EmployeeFirstName @x.EmployeeLastName</td>
            <td style="vertical-align:middle"><img src="@x.EmployeeImage" style="height:50px; width:auto"></td>
            <td style="vertical-align:middle">@x.Department.DepartmentName</td>
            <td style="vertical-align:middle">
                <a href="/Employee/BringEmployee/@x.EmployeeID" class="btn btn-warning">Update</a>
            </td>
            <td style="vertical-align:middle">
                <a href="/Department/DepartmentEmployeeSale/@x.EmployeeID" class="btn btn-default" style="background-color:blue; color:white">Details</a>
            </td>
        </tr>
    }
</table>
<a href="/Employee/AddEmployee" class="btn btn-info">Add Employee</a>

