@model IEnumerable<MvcOnlineCommercialAutomation.Models.Classes.ClassGroup3>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Client City Table</h3>

        <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
                <li class="page-item">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>City</th>
                <th>Progress Bar</th>
                <th style="width: 40px">Percent</th>
            </tr>
            </thead>
            <tbody>
            @{ var CityNo = 0; }
            @foreach (var x in Model)
            {
                <tr>
                    <td>
                        @{ CityNo++; }
                        @(CityNo).
                    </td>
                    <td>@x.City</td>
                    @if (x.Percent * 100 / ViewBag.d3 > 0 && x.Percent * 100 / ViewBag.d3 <= 20)
                    {
                        <td style="vertical-align: middle">
                            <div class="progress progress-xs">
                                <div class="progress-bar" style="background-color: #82c272; width: @(x.Percent * 100 / ViewBag.d3)%"></div>
                            </div>
                        </td>
                        <td style="text-align: center">
                            <span class="badge" style="background-color: #82c272; color: white;">@(x.Percent * 100 / ViewBag.d3)%</span>
                        </td>
                    }
                    @if (x.Percent * 100 / ViewBag.d3 > 20 && x.Percent * 100 / ViewBag.d3 <= 40)
                    {
                        <td style="vertical-align: middle">
                            <div class="progress progress-xs">
                                <div class="progress-bar" style="background-color: #00a88f; width: @(x.Percent * 100 / ViewBag.d3)%"></div>
                            </div>
                        </td>
                        <td style="text-align: center">
                            <span class="badge" style="background-color: #00a88f; color: white;">@(x.Percent * 100 / ViewBag.d3)%</span>
                        </td>
                    }
                    @if (x.Percent * 100 / ViewBag.d3 > 40 && x.Percent * 100 / ViewBag.d3 <= 60)
                    {
                        <td style="vertical-align: middle">
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-danger" style="background-color: #0087ac; width: @(x.Percent * 100 / ViewBag.d3)%"></div>
                            </div>
                        </td>
                        <td style="text-align: center">
                            <span class="badge" style="background-color: #0087ac; color: white;">@(x.Percent * 100 / ViewBag.d3)%</span>
                        </td>
                    }
                    @if (x.Percent * 100 / ViewBag.d3 > 60 && x.Percent * 100 / ViewBag.d3 <= 80)
                    {
                        <td style="vertical-align: middle">
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-danger" style="background-color: #005faa; width: @(x.Percent * 100 / ViewBag.d3)%"></div>
                            </div>
                        </td>
                        <td style="text-align: center">
                            <span class="badge" style="background-color: #005faa; color: white;">@(x.Percent * 100 / ViewBag.d3)%</span>
                        </td>
                    }
                    @if (x.Percent * 100 / ViewBag.d3 > 80 && x.Percent * 100 / ViewBag.d3 <= 100)
                    {
                        <td style="vertical-align: middle">
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-danger" style="background-color: #323b81; width: @(x.Percent * 100 / ViewBag.d3)%"></div>
                            </div>
                        </td>
                        <td style="text-align: center">
                            <span class="badge" style="background-color: #323b81; color: white;">@(x.Percent * 100 / ViewBag.d3)%</span>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>