@model MvcOnlineCommercialAutomation.Models.Classes.Invoince

@{
    ViewBag.Title = "BringInvoince";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Invoince Update Page</h2>
<br />

@using (Html.BeginForm("UpdateInvoince", "Invoince", FormMethod.Post))
{
    @Html.HiddenFor(x => x.InvoinceID)
    @Html.LabelFor(x => x.InvoinceSerialNo)
    @Html.TextBoxFor(x => x.InvoinceSerialNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.InvoinceItemNo)
    @Html.TextBoxFor(x => x.InvoinceItemNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.TaxOffice)
    @Html.TextBoxFor(x => x.TaxOffice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Hour)
    @Html.TextBoxFor(x => x.Hour, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Consigner)
    @Html.TextBoxFor(x => x.Consigner, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Recipient)
    @Html.TextBoxFor(x => x.Recipient, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Save</button>
}



