@using MvcOnlineCommercialAutomation.Models.Classes
@model List<Employee>

@{
    ViewBag.Title = "DetailDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Department Detail Page</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Department Name: @ViewBag.dptnm</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Image</th>
        <th>Sales</th>
    </tr>

    @foreach (var e in Model)
    {
        <tr>
            <td>@e.EmployeeID</td>
            <td>@e.EmployeeFirstName</td>
            <td>@e.EmployeeLastName</td>
            <td><img src="@e.EmployeeImage" style="height:50px; width:auto"></td>
            <td><a href="/Department/DepartmentEmployeeSale/@e.EmployeeID" class="btn btn-default" style="background-color:coral">Sales</a></td>
        </tr>
    }
</table>
